.sort__button {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 205, 221);
  color: rgb(0, 0, 0);
  height: 3rem;
  width: 30%;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  margin: 2rem 0;
  box-shadow: 5px 5px 20px 5px #87898b;
}
.sort__button:hover {
  transition: all 0.3s ease-in-out;
  background-color: rebeccapurple;
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px 5px rgb(87, 89, 90);
}
