.bug__info {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 5rem;
  padding: 0.1rem;
  background-color: rgb(216 240 238);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 3px 3px 5px 3px #4c4c4e9c;
}

.bug__info h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  color: rgb(0, 0, 0);
}

.bug__info__left {
  border-radius: 1rem 0 0 1rem;
  display: flex;
  padding: 0.3rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
  text-transform: capitalize;
  background-color: rgb(216 240 238);
}

.bug__info__right {
  padding: none;
  padding: 0.3rem 0;
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  background-color: rgb(216 240 238);
}

.bug__info__right h1 {
  font-size: 3rem;
}

.bug__info__buttons {
  width: 20%;
  border-radius: 0 1rem 1rem 0;
  z-index: 1;
  background-color: rgb(216 240 238);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-transform: uppercase;
}

.bug__info__buttons__resolved,
.bug__info__buttons__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  align-content: space-between;
  flex-direction: column;
  background-color: rgba(216, 240, 238, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 0.6rem 0;
  font-size: 14px;
  font-weight: bold;
}

.bug__info__buttons__resolved {
  background-color: rgb(156, 215, 235);
  color: black;
}

.bug__info__buttons__resolved:hover {
  box-shadow: 2px 2px 5px 1px #4c4c4e9c;
  transition: all ease-in-out 0.1s;
  /* transform: scale(1.1); */
  background-color: rgb(77, 200, 241);
}

.bug__info__buttons__delete {
  background-color: rgb(241, 62, 62);
  color: white;
  text-transform: uppercase;
}

.bug__info__buttons__delete:hover {
  transition: all ease-in-out 0.1s;
  box-shadow: 2px 2px 5px 1px #4c4c4e9c;
  /* transform: scale(1.1); */
  background-color: rgb(240, 24, 24);
}

.index {
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin-bottom: 0.5rem;
}
.make__bold {
  font-weight: bold;
}

p {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p {
  background-color: transparent;
  margin: 0;
}
