.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ebe5ee;
}
.dashboard__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  background-color: #b3ff0000;
}
.active {
  background-color: #d61c16;
}
.resolved {
  background-color: #21c500;
}

.active,
.resolved {
  transition: ease-in-out 0.2s;
  font-size: 20px;
  opacity: 100%;
  font-weight: lighter;
  color: white;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  width: 20%;
}

.active:hover,
.resolved:hover {
  cursor: pointer;
}
.resolved:focus {
  background-color: rgb(92, 233, 79);
}
.active:focus {
  background-color: #ffbfbf;
}

.bug__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffbfbf;
  position: inherit;
  z-index: 999;
  top: 0;
}
